
#prvi{
    width: 500px;
    height: 85px;
    background-color:burlywood;
    border: 1px black solid;
    margin: 50px 10px 5px;
    padding:60px 10px 1px;
    display: inline-block;
}

#drugi{
    width: 500px;
    height: 85px;
    background-color: rgb(146, 131, 131);
    border: 1px black solid;
    margin: 50px 10px 5px;
    padding:60px 10px 1px;
    display: inline-block;
    
}
body{
    display: flex;
}